//Color codes
$green: #1FA136;
$lightGreen: #1AB736;
$textColor: #2D2D2D;
$lightGrey: #323232;
$greyLight: #F5F5F5;
$testimonialsColor: #5C5C5C;
$darkGrey: #272727;
$black: #000000;
$white: #FFFFFF;
$yellow: #FFFF00;
$contactinput: #EDF0F2;
$copyright: #6C6C6C;
$footerline: #EAEAEA;
$subscribebtn: #E9E9E9;
$subscribeinput: #5A5A5A;
$contactinputtext: #6B6B6B;
$menuline: #DADADA;
$menuheading: #323232;
$menudes: #575757;
$red: #FF0000;
$default-text-color: $black !default;


//Variable font-size
$menuFontSize: 14px;
$menudesFontSize: 13px;
$menuheadingFontSize: 18px;
$mainFontSize: 14px;
$bannerFontSize: 36px;
$btnFontSize: 14px;
$sectionHeading: 24px;
$fontSize: 13px;
$fontSizeHomeGallery: 16px;
$testimonialsHeading: 20px;

$facebook: #3b5998;
$twitter: #1da1f2;
$instagram: #405de6;
$youtube: #cc181e;

//Fonts
$roboto: 'Roboto', sans-serif;
$patua: 'Patua One', cursive;